# Port number
PORT=5000

# URL of the Mongo DB
MONGODB_URL=mongodb+srv://mamtazfreelancer:f7FcczeDomuZ5F3L@cluster0.6ds5s8q.mongodb.net/unizzz-project

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USERNAME=summer.douglas@ethereal.email
SMTP_PASSWORD=2ndxuzGkSHH5gBm2HT
EMAIL_FROM=support@yourapp.com

STRIPE_SK="sk_test_51OrZZ9GnuZvG4pKcaNaTcuCeAKsfJROq7JjJ87rZ0XKAC5jvyHjLWyOQSn3bStB7WsK6EFFUOip6fLJrpJshono0007bz1eR3B"